.intro {
  font-size: 1.125em;
  text-align: left;
}

.four-third {
  position: relative;
  border: 1px solid $gray-lightest;
  border-radius: 0.25rem;

  @include ratio(0.66);

  .fwh {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.nine-fifth {
  position: relative;
  border: 1px solid $gray-lightest;
  border-radius: 0.25rem;

  @include ratio(0.55);

  .fwh {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.fwh {
    height: 25rem;
}

body.dark-theme .four-third {
  border: 1px solid transparentize($white, 0.95);
}


@keyframes anim-button-shake {
  10%, 90% {
    transform: translate(-1px, 0);
  }

  20%, 80% {
    transform: translate(2px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }

  40%, 60% {
    transform: translate(4px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes anim-slide-right {
  0% {
    visibility: visible;
    margin-left: -100%;
  }
  10%, 90%{
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

.slide-right {
  overflow: hidden;
}

.slide-right span {
  visibility: hidden;
  display: inline-block;
  font-size: 0.75em;
  animation-name: anim-slide-right;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-duration: 10s;
}

.button-shake {
  animation-name: anim-button-shake;
  animation-timing-function: linear;
  animation-delay: 12s;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}
